@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1200px) {
    body{
        margin-left: 4rem;
        margin-right: -6rem;
    }
    .tmb{
        margin-left: 41rem;
    }
    #tmb1{
        margin-left: 47rem;
    }
    #tmb2{
        margin-left: 44.3rem;
    }
    .btn-error{
        flex-basis: 25rem;
    }
    #btn-add{
        margin-left: 5rem;
        flex-basis: 21rem;
    }
    .get{
        flex-basis: 16rem;
    }
}
